<%# @rents.each do |rent| %>

<%# end %>
<%#= @rent %>

<table class="table">
    <thead>
        <tr>
            <th>実行番号</th>
            <th>実行URL</th>
            <th>平均家賃</th>
        </tr>
    </thead>
    <tbody>
    <% @rents.each do |rent| %>
        <tr>
            <td><%= rent.id %></td>
            <td><%= rent.url %></td>
            <td><p><%= rent.rent %> 万円</p></td>
        </tr>
    <% end %>
    </tbody>
</table>
<%= paginate @rents %>