<main>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-white ">理想ではなくベストなお部屋さがしを</h1>
    <p class="lead text-white">"住まトク"は出来るだけ"お得に"物件を探したい方</br>
    どれだけ家賃が下がっているかをリアルタイムでお調べします</p>
  </div><!-- /.container -->
</div><!-- /.jumbotron -->
<div class="container">
  <div class="row">
    <div class="col-md-8 order-md-1">
      <table class="table">
          <thead>
              <tr>
                  <th style="width: 20%">番 号</th>
                  <th style="width: 50%">実行URL</th>
                  <th style="width: 30%">平均家賃</th>
              </tr>
          </thead>
          <tbody>
          <% @rents.each do |rent| %>
              <tr>
                  <td><%= rent.id %>  </td>
                  <td><%= rent.url %></td>
                  <td><%= rent.rent %> 万円</td>
              </tr>
          <% end %>
          </tbody>
      </table>
      <%= paginate @rents %>
    </div>
    </div>
  </div>
</main>