  <main role="main" class="inner cover">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 text-white ">理想ではなくベストなお部屋さがしを</h1>
        <p class="lead text-white">"住まトク"は出来るだけ"お得に"物件を探したい方</br>
        どれだけ家賃が下がっているかをリアルタイムでお調べします</p>
      </div><!-- /.container -->
    </div><!-- /.jumbotron -->
    
    
    <h1 class="cover-heading">使い方</h1>
    <p class="lead">SUUMOさんへアクセス頂き、エリア選択にてご希望の都道府県、市区町村を選択してください</p>
    <p class="lead">ページURLをコピーすると準備は完了です！</p>
    <p class="lead">実行ページに移りましょう</p>
      <%= link_to "今すぐ始める", new_real_property_path, class: 'btn btn-secondary' %>
  </main>