<head>
</head>
<body>
  <main>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 text-white ">理想ではなくベストなお部屋さがしを</h1>
        <p class="lead text-white">"住まトク"は出来るだけ"お得に"物件を探したい方</br>
        どれだけ家賃が下がっているかをリアルタイムでお調べします</p>
      </div><!-- /.container -->
    </div><!-- /.jumbotron -->
    <div class="container">
          <div class="row">
      <div class="col-lg-4">
        <div class="rounded-circle">
        <%= image_tag "/PF/app/assets/images/map.jpg", :size =>'140x140' %>
        </div>
        <!-- <h2>Heading</h2> -->
        <h2>見出し</h2>
        <p>掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        <p><a class="btn btn-secondary" href="#" role="button">詳しく見る &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <!-- <h2>Heading</h2> -->
        <h2>見出し</h2>
        <p>その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を吹く。</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        <p><a class="btn btn-secondary" href="#" role="button">詳しく見る &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <!-- <h2>Heading</h2> -->
        <h2>見出し</h2>
        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        <p><a class="btn btn-secondary" href="#" role="button">詳しく見る &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    </div><!-- /.container -->
  </main>
</body>