<head>
</head>
<body>
  <main>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 text-white ">理想ではなくベストなお部屋さがしを</h1>
        <p class="lead text-white">"住まトク"は出来るだけ"お得に"物件を探したい方</br>
        どれだけ家賃が下がっているかをリアルタイムでお調べします</p>
      </div><!-- /.container -->
    </div><!-- /.jumbotron -->
    <div class="container">
          <div class="row">
      <div class="col-lg-4">
        <div class="rounded-circle">
          <%= image_tag "map.jpg", :size =>'140x140' %>
        </div>
        <!-- <h2>Heading</h2> -->
        <h2>STEP.1 エリアを選択</h2>
        <p>あなたが検討している近隣のエリアを選択してください。</br>
        関西エリアはプルダウンで選択できるのでご活用ください。</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        <p><a class="btn btn-secondary" href="#" role="button">詳しく見る &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="rounded-circle">
          <%= image_tag "touch.jpg", :size =>'140x140' %>
        </div>
        <h2>STEP.2 実行</h2>
        <p>選択したエリアの家賃情報をワンクリックで検索します。</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        <p><a class="btn btn-secondary" href="#" role="button">詳しく見る &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="rounded-circle">
          <%= image_tag "result.jpg", :size =>'140x140' %>
        </div>
        <h2>STEP.3 お得なエリアがわかる</h2>
        <p>実行したエリアのエリアのお得度を紹介します</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        <p><a class="btn btn-secondary" href="#" role="button">詳しく見る &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    </div><!-- /.container -->
  </main>
</body>